* {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.roboto-light,
h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular,
h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

/* <!-- ++++++++++++++++++++++++++++++++++++++++++MENU DE NAV+++++++++++++++++++++++++++++++++++++ --> */
.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(86, 242, 112);
  justify-content: center;
  text-align: center;
  font-style: normal;
  letter-spacing: 0.2em;
  color: rgb(69, 157, 126);
  font-size: 1em;
}

.navbar ul {
  list-style: none;
  margin-top: 0.5em;
}

.logo {
  display: none;
}
.lista {
  font-size: medium;
}
.navbar ul a {
  text-decoration: none;
  color: rgb(69, 157, 126);
  display: block;
  padding: 0.5em 0;
}

.navbar ul a:hover {
  background-color: rgb(42, 144, 83);
}

/* <!-- ++++++++++++++++++++++++++++++++++++++++++Busqueda++++++++++++++++++++++++++++++++++++ --> */

.busqueda {
  background-color: #c6e8b091;
  color: rgb(120, 93, 240);
  display: flex;
  justify-content: center;
}
h2 {
  font-size: medium;
}
.select {
  padding: 100px;
  margin: 200px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

/* <!-- ++++++++++++++++++++++++++++++++++++++++++seccion principal+++++++++++++++++++++++++++++++++++++ --> */

.homeimg {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* <!-- ++++++++++++++++++++++++++++++++++++++++++HOME++++++++++++++++++++++++++++++++++++ --> */

.home {
  padding: 1em 0;
  text-align: center;
  display: flex;
}

.home section {
  flex-wrap: wrap;
  display: flex;
  gap: 1em;
  justify-content: center;
}

.home img {
  width: 300px;
  height: 200px;
  margin: 20px;
}

.boton-azul {
  background-color: rgb(39, 139, 26);
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

.boton-azul:hover {
  background-color: rgba(42, 100, 20, 0.599);
}

.home div {
  border: 1px solid green;
  border-radius: 8px;
}

/* <!-- ++++++++++++++++++++++++++++++++++++++++++Footer++++++++++++++++++++++++++++++++++++ --> */
.pie {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-color: #6ea94c;
  padding: 20px;
  color: white;
}
/* <!-- ++++++++++++++++++++++++++++++++++++++++++grid+++++++++++++++++++++++++++++++++++++ --> */
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas:
    "navbar"
    "busqueda"
    "home"
    "pie";
}
.navbar {
  grid-area: navbar;
}

.busqueda {
  grid-area: busqueda;
}


.home {
  grid-area: home;
}

.pie {
  grid-area: pie;
}


/* <!-- ++++++++++++++++++++++++++++++++++++++++++MEDIA QUERIE+++++++++++++++++++++++++++++++++++++ --> */
  
/* <!-- ++++++++++++++++++++++++++++++++++++++++++ MEDIA 576 MOVIL+++++++++++++++++++++++++++++++++++++ --> */



@media  (min-width:200px){

  .navbar{  
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    background-color: rgb(86, 242, 112);
    letter-spacing: 0.2em;
    color: rgb(69, 157, 126);
    font-size: 1em;
    gap: 10px;
  }

  .navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .logo {
    display: flex;
    justify-content: space-between;
    margin: 30px;
  }
  
  .lista{

    display: none;
  }
}
/* <!-- ++++++++++++++++++++++++++++++++++++++++++ MEDIA 768 Tablet   +++++++++++++++++++++++++++++++++++++ --> */


@media (min-width: 768px) {

  .navbar {
    display: flex;
    justify-content:space-around;
    padding: 1em 0.5em;
  } 

  .lista {
    display: flex; 
    
       
  }
  
  .logo {
    display: none;
  }

  .navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    margin-right: 0.5em;
    margin-top: 0em;
  }

  .grid-container {
   
    grid-template-areas:
      "navbar navbar"
      " busqueda home"
      "pie pie";
    grid-template-columns: 200px 1fr;
    padding: 5px;
    
  }
}


/* <!-- ++++++++++++++++++++++++++++++++++++++++++ MEDIA 992 Tablet   +++++++++++++++++++++++++++++++++++++ --> */




/* @media (min-width: 992px) {
   .navbar {
    display: flex;
    justify-content:space-around;
    padding: 1em 0.5em;
  } 

  .lista {
    display: flex; 
    
       
  }
  
  .logo {
    display: none;
  }

  .navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    margin-right: 0.5em;
    margin-top: 0em;
  }

  .grid-container {
   
    grid-template-areas:
      "navbar navbar"
      " busqueda home"
      "pie pie";
    grid-template-columns: 200px 1fr;
    padding: 5px;
    
  }
} */


/* <!-- ++++++++++++++++++++++++++++++++++++++++++ MEDIA 1200 DESTOK  +++++++++++++++++++++++++++++++++++++ --> */



@media (min-width: 1200px) {
  .navbar {
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   padding: 1em 0.5em;
 } 

 .lista {
   display: flex;    
 }
 
 .logo {
   display: none;
 }

 .navbar ul {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 0.5em;
   margin-right: 0.5em;
   margin-top: 0em;
 }

/*  .home section {
   flex-direction: row;
   gap: 1em;
   flex-wrap: wrap;
 } */

 .grid-container {
  
   grid-template-areas:
     "navbar busqueda"
     " navbar home"
     "pie home";
   grid-template-columns: 200px 1fr;
   padding: 5px;
   
 }
}
